.App {
    text-align: center;
}
/*Nav{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 10vh;*/
/*    background: gray;*/
/*    color: white;*/
/*    font-size: x-large;*/
/*}*/

/*.nav-links{*/
/*    width: 50%;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    align-items: center;*/
/*    list-style: none;*/
/*}*/

.footer{
    color: white;
    padding: 1rem;
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 2rem;
}

body{
    margin-bottom: 4rem;
}
